*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rubik-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../docs/assets/fonts/rubik-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../docs/assets/fonts/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../docs/assets/fonts/rubik-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Primary Colors */
  --Purple-600: hsl(246, 80%, 60%);

  --Orange-300: hsl(15, 100%, 70%);
  --Blue-300: hsl(195, 74%, 62%);
  --Pink-400: hsl(348, 100%, 68%);
  --Green-400: hsl(145, 58%, 55%);
  --Purple-700: hsl(264, 64%, 52%);
  --Yellow-300: hsl(43, 84%, 65%);

/* Neutral Colors */

 --Navy-950: hsl(226, 43%, 10%);
 --Navy-900: hsl(235, 46%, 20%);
 --Purple-500: hsl(235, 45%, 61%);
 --Navy-200: hsl(236, 100%, 87%);
}

/* General Typography */
body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--Navy-950);

  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.125rem;
}

.time__dashboard {
  padding: 3rem 1rem;
}

.time__dashboard, 
.time__body {
  display: grid;
  grid-template-columns: 1fr;

  gap: 4rem;
  position: relative;
}

.profile__section {
  display: flex;
  flex-direction: column;
}

.profile__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;


  padding: 2rem 1.5rem;
  gap: 1.25rem;

  background-color: var(--Purple-600);
  border-radius: 0.75rem;
}

.profile__image {
  border: 3px solid white;
  border-radius: 50%;
}

.profile__name {
  color: var(--Navy-200);
  font-weight: 300;
  font-size: 1.5rem;
}

.profile__text {
  color: var(--Navy-200);
  font-weight: 300;
  margin-bottom: 0.25rem;
}

.profile__timeframe {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1.5rem 0;

  background-color: var(--Navy-900);
  border-radius: 0 0 0.75rem 0.75rem;

  position: relative;
}

.profile__timeframe::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: var(--Navy-900);
  border-radius: 0.75rem 0.75rem;
  top: -2rem;
  left: 0;
  right: 0;
  z-index: -1;
}

.btn__timeframe {
  color: var(--Purple-500);
  font-size: 1.125rem;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

.btn__timeframe:hover,
.btn__timeframe:focus,
.btn__timeframe--active {
  color: var(--Navy-200);
}

.time__activity {
  background-color: var(--Navy-900);
  border-radius: 0.75rem;
  padding: 1.5rem;

  position: relative;
}


.time__activity-menu:hover svg path,
.time__activity-menu:focus svg path {
  filter: brightness(120%);
}

.time__activity-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time__activity-type {
  color: var(--Navy-200);
  font-weight: 500;
}

.time__activity-hours {
  color: var(--Navy-200);
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.time__activity-row-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.time__activity-menu svg path {
  fill: var(--Navy-200);
}

.time__activity-previous {
  color: var(--Navy-200);
  font-weight: 300;

  margin-top: 1rem;
}

.time__activity--work::before,
.time__activity--play::before,
.time__activity--study::before,
.time__activity--exercise::before,
.time__activity--social::before,
.time__activity--self-care::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  right: 0;

  width: 100%;
  height: 60px;
  border-radius: 0.75rem;
  z-index: -1;
}

.time__activity--work::before {
  background-color: var(--Orange-300);
}
.time__activity--play::before {
  background-color: var(--Blue-300);
}
.time__activity--study::before {
  background-color: var(--Pink-400);
}
.time__activity--exercise::before {
  background-color: var(--Green-400);
}
.time__activity--social::before {
  background-color: var(--Purple-700);
}
.time__activity--self-care::before {
  background-color: var(--Yellow-300);
}

.time__activity--work::after,
.time__activity--play::after,
.time__activity--study::after,
.time__activity--exercise::after,
.time__activity--social::after,
.time__activity--self-care::after {
  position: absolute;
  top: -2.5rem;
  right: 1.5rem;
  z-index: -1;
}

.time__activity--work::after {
  content: url('../docs/assets/images/icon-work.svg');
}
.time__activity--play::after {
  content: url('../docs/assets/images/icon-play.svg');
}
.time__activity--study::after {
  content: url('../docs/assets/images/icon-study.svg');
}
.time__activity--exercise::after {
  content: url('../docs/assets/images/icon-exercise.svg');
}
.time__activity--social::after {
  content: url('../docs/assets/images/icon-social.svg');
}
.time__activity--self-care::after {
  content: url('../docs/assets/images/icon-self-care.svg');
}

/* Desktop - Laptop */
@media (min-width: 62rem) {
  body {
    overflow: hidden;
  }

  .time__dashboard,
  .time__body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.15fr);
    max-width: 59.375rem;
    margin: 0 auto;
    gap: 2rem;
  }

  .time__dashboard {
    padding: 21vh 1.5rem;
  }

  .time__body {
    top: 2rem;
  }

  .profile__section {
    display: grid;
    width: 12.5rem;
  }

  .profile__wrapper{
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__timeframe {
    flex-direction: column;
    align-items: flex-start;

    padding-left: 1.5rem;
    gap: 1rem;
  }

  .time__activity {
    width: 12.5rem;
  }

  .time__activity--exercise,
  .time__activity--social,
  .time__activity--self-care {
    top: 1.5rem;
  }

  .time__activity--work::before,
  .time__activity--play::before,
  .time__activity--study::before,
  .time__activity--exercise::before,
  .time__activity--social::before,
  .time__activity--self-care::before {
    
    height: 4.375rem;
    top: -2rem;
  }

  .time__activity--work::after,
  .time__activity--play::after,
  .time__activity--study::after,
  .time__activity--exercise::after,
  .time__activity--social::after,
  .time__activity--self-care::after {
    top: -2rem;
  }

  .time__activity-info {
    flex-direction: column;
    align-items:  flex-start;

    top: 0.5rem;
    position: relative;
  }

  .time__activity-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .time__activity-hours {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .time__activity-previous {
    margin-top: 0.25rem;
  }

}
